.product-list-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.product-card-list{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
